nav{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1001;
    align-items: center;
    justify-content: end;
    height: 10vh;
}

.navLinks{
    display: flex;
    padding-left: 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
    list-style-type: none;
}

.navLinks a{
    color: black;
    text-decoration: none;
    padding: 5px 0px;
    text-transform: uppercase;
}

.navLinks li {
    font-size: 25px;
}

.hamburger{
    display: block;
    cursor: pointer;
    z-index: 1002;
    margin-right: 20px;
}
.line{
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.linkContainer{
    position: absolute;
    height: 0px;
    top:0vh;
    left: 0;
    width: 100%;
    background-color: white;
    transition:0.2s;
    overflow: hidden;
}

.showMenu{
    height: 100vh;
    padding-top: 10rem;
}

#hamburger:nth-child(1){
    top: 0;
}
#hamburger:nth-child(2){
    top: 8px;
}
#hamburger:nth-child(3){
    top: 19.5px;
}

#hamburger.open span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
#hamburger.open span:nth-child(2){
    opacity: 0;
}
#hamburger.open span:nth-child(3){
    transform: translateY(-4.5px) rotate(-45deg);
}