body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.form-container .belt {
  transform: translateX(-33%);
}

.form-container .belt.transitioned-2 {
  transform: translateX(-66%);
}

.form-container .form .form-header {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.form-container .form .form-header h2 {
  color: #1b4e00;
}

.form-container .form input,
.form-container .form textarea {
  display: block;
  width: 95%;
  max-width: 93%;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #1b4e00;
  background: #333;
  color: #1b4e00;
  caret-color: #1b4e00;
}

.form-container .form input::placeholder,
.form-container .form textarea::placeholder {
  color: #1b4e00;
  transition: color .2s;
  font-size: 14px;
}

.form-container .form input:focus::placeholder,
.form-container .form textarea:focus::placeholder {
  color: transparent;
}

