<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1AI_3099KnA2vPIHJ9GgyuF_XuWo60q8&ehbc=2E312F" width="640"
        height="480"></iframe>

    <!-- <button id="btn" name="btn" onclick="itToEng()">IT TO ENG</button> -->

    <h1>Invio Email</h1>
    <form action="/send_email" method="post">
        <button type="submit">Invia Email</button>
    </form>

    <script src="./scripts/itToEng.js"></script>

</body>

</html>