<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HomePage</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <nav>
        <div class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>

        <div class="linkContainer">
            <ul class="navLinks">
                <a href="../pages/profilo.php" class="link"><li>Profilo personale</li></a>
                <a href="../pages/scanRifiuti.php" class="link"><li>Scansiona rifiuto</li></a>
                <a href="../pages/informazioni.html" class="link"><li>Informazioni</li></a>
                <a href="segnalazioni.html" class="link"><li>Segnalazioni</li></a>
                <a class="link" id="btnLightMap"><li>Light Map</li></a>
                <a class="link" id="btnDarkMap"><li>Dark Map</li></a>
            </ul>
        </div>
    </nav>

    <i class="fa-solid fa-id-card" id="cartaIcon"></i>

    <div id="map"></div>

    <div id="contenitore-tessera"></div>

    <div id="contenitore-tessereCasonetto"></div>

    <!-- js navbar -->
    <script src="../js/index.js"></script>
    <script src="../scripts/autoHeight.js"></script>
    <script src="https://kit.fontawesome.com/b7a588a6d3.js" crossorigin="anonymous"></script>
    <script src="../scripts/initializeMap.js"></script>
    <!-- <script src="../scripts/coordinatePopup.js"></script> -->
    <script src="../scripts/icons.js"></script>
    <script src="../scripts/markers.js"></script>
    <script src="../scripts/createCard.js"></script>
    <script src="../scripts/showTessera.js"></script>
    <script src="../scripts/cassonettiCard.js"></script>
</body>

</html>